---
layout: page
title: Categories
---

<!-- Container for category buttons -->
<div id="category-buttons">
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    <button class="category-button" data-category="{{ category[0] }}">{{ category[0] }}</button>
  {% endfor %}
  <button class="category-button" data-category="all">All</button>
</div>

<!-- Container for posts -->
<div id="category-posts">
  <ul id="posts-list">
    {% for post in site.posts %}
      <li data-categories="{{ post.categories | join: ' ' }}">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  // Event listeners for category buttons
  document.querySelectorAll('.category-button').forEach(button => {
    button.addEventListener('click', () => {
      const selectedCategory = button.dataset.category;
      const posts = document.querySelectorAll('#posts-list li');

      posts.forEach(post => {
        const categories = post.dataset.categories.split(' ');

        if (selectedCategory === 'all' || categories.includes(selectedCategory)) {
          post.style.display = '';
        } else {
          post.style.display = 'none';
        }
      });
    });
  });
</script>

<style>
  #category-buttons {
    margin-bottom: 20px;
  }
.category-button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #d90000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.category-button:hover {
  background-color: #850000;
  }
  #posts-list li {
    margin: 10px 0;
  }
</style>
